.App {
  background-color: #DB0A5B;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__text {
  font-size: 6vw;
  color: #000;
}
